swagger: "2.0"
info:
  description: "This is the API document of Chinese Language Committee."
  version: "2.0.0"
  title: "Apply Service"
  contact:
    email: "Shiinaorez@gmail.com"
  license:
    name: "Apache 2.0"
    url: "http://www.apache.org/licenses/LICENSE-2.0.html"
host: "language.committee.cn"
basePath: "/service/project"
tags:
  - name: "projectCache"
    description: "项目信息缓存API"
  - name: "baseInformation"
    description: "项目基本信息API"
  - name: "fundingPlan"
    description: "项目经费计划API"
  - name: "unitInformation"
    description: "项目相关单位信息API"
  - name: "resultInformation"
    description: "项目成果API"
  - name: "memberOpeation"
    description: "项目成员操作API"
schemes:
  - "https"
  - "http"
paths:
  /project/new/:
    get:
      summary: "If applicant have no project posting, create it."
      description: "Please make sure applicant posting project is NONE."
      operationId: "project-create"
      consumes:
        - "application/json"
      produces:
        - "application/json" 
      parameters:
        - in: "header"
          name: "token"
          description: "The token for authorition."
          required: true
          type: string
        - in: "path"
          name: "category_id"
          description: "The project category id."
          required: true
          type: integer
      responses:
        200:
          description: "OK"
          schema:
            required:
              - project_id
            properties:
              project_id:
                type: integer
        201:
          description: "Porject be posting!"
          schema:
            required:
              - project_id
            properties:
              project_id:
                type: integer

  /project/posting/cancel/:
    get:
      summary: "The API to cancel the project posting."
      description: "Please make sure you're posting a project."
      operationId: "project-posting-cancel"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - in: "header"
          name: "token"
          description: "The token for authorition"
          required: true
          type: string
      responses:
        200:
          description: "Cancel OK."
        201:
          description: "Not Posting"

  /project/posting/statu/:
    get:
      tags:
        - "projectCache"
      summary: "The API to get the status of project posting."
      description: "Use this API to get the project be post or not."
      operationId: "project-posting-statu"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - in: "header"
          name: "token"
          description: "The token for authorition."
          required: true
          type: string
      responses:
        200:
          description: "Posting"
          schema:
            required:
              - project_id
            properties: 
              project_id:
                type: "integer"
        201:
          description: "Not Posting"
  
  /project/posting/cache/base_information/:
    get:
      tags:
        - "projectCache"
      summary: "If project be posting existed, use this API to get base information cache."
      operationId: "project-posting-baseInformation"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - in: "header"
          name: "token"
          description: "The token for authorition."
          required: true
          type: string
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/BaseInformation"
        201:
          description: "No Posting."
  
  /project/posting/cache/funding_plan/:
    get:
      tags:
        - "projectCache"
      summary: "If project be posting existed, use this API to get funding plan data."
      description: "Please make sure the project which be posting existed."
      operationId: "project-posting-fundingPlan"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - in: "header"
          name: "token"
          description: "The token for authorition."
          required: true
          type: string
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/FundingPlan"
        201:
          description: "No Posting."

  /project/posting/cache/unit/:
    get:
      tags:
        - "projectCache"
      summary: "If project be posting existed, use this API to get funding plan data."
      description: "Please make sure the project which be posting existed."
      operationId: "project-posting-fundingPlan"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - in: "header"
          name: "token"
          description: "The token for authorition."
          required: true
          type: string
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/Unit"
        404:
          description: "project is inexistent"

  /project/posting/cache/result/:
    get:
      tags:
        - "projectCache"
      summary: "If project be posting existed, use this API to get funding plan data."
      description: "Please make sure the project which be posting existed."
      operationId: "project-posting-fundingPlan"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - in: "header"
          name: "token"
          description: "The token for authorition."
          required: true
          type: string
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/Result"
        404:
          description: "project is inexistent/result_list is empty/result is inexistent"

  /project/posting/cache/member/:
    get:
      tags:
        - "projectCache"
      summary: "If project be posting existed, use this API to get funding plan data."
      description: "Please make sure the project which be posting existed."
      operationId: "project-posting-fundingPlan"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - in: "header"
          name: "token"
          description: "The token for authorition."
          required: true
          type: string
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/Member"
        404:
          description: "project is inexistent/member_list is empty"
  
  
  
  /project/base_information/:
    post:
      tags:
        - "baseInformation"
      summary: "Post the base information of project."
      description: "Please make sure each name of field are right."
      operationId: "baseInfo-post"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - in: "header"
          name: "token"
          description: "The token for authorition."
          required: true
          type: string
        - in: "body"
          name: "payload"
          description: "Post the base information fields."
          required: true
          schema:
            $ref: "#/definitions/BaseInformation"
      responses:
        200:
          description: "OK"
        201:
          description: "Not Posting."


  
  /project/funding_plan/:
    post:
      tags:
        - "fundingPlan"
      summary: "Post the funding plan data of project."
      description: "Please make sure each name of field are right
      - email
      - tel."
      operationId: "fundingPlan-post"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - in: "header"
          name: "token"
          description: "The token for authorition."
          required: true
          type: string
        - in: "body"
          name: "payload"
          description: "The data of funding plan."
          required: true
          schema:
            $ref: "#/definitions/FundingPlan"
      responses:
        200:
          description: "OK"
        500:
          description: "Internal Error"

  /project/unit/:
    post:
      tags:
        - "unitInformation"
      summary: "Post the base information of project."
      description: "Please make sure each name of field are right."
      operationId: "baseInfo-post"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - in: "header"
          name: "token"
          description: "The token for authorition."
          required: true
          type: string
        - in: "body"
          name: "payload"
          description: "Post the base information fields."
          required: true
          schema:
            $ref: "#/definitions/Unit"
      responses:
        200:
          description: "unit imformation add successful"
        404:
          description: "project is inexistent"
  
  /project/result/:
    post:
      tags:
        - "resultInformation"
      summary: "Post the base information of project."
      description: "Please make sure each name of field are right."
      operationId: "baseInfo-post"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - in: "header"
          name: "token"
          description: "The token for authorition."
          required: true
          type: string
        - in: "body"
          name: "payload"
          description: "Post the base information fields."
          required: true
          schema:
            $ref: "#/definitions/Result"
      responses:
        200:
          description: "result add successful"
        404:
          description: "project is inexistent"

  /project/result/{rid}/delete/:
    delete:
      tags:
        - "resultInformation"
      summary: "Post the base information of project."
      description: "Please make sure each name of field are right."
      operationId: "baseInfo-post"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - in: "header"
          name: "token"
          description: "The token for authorition."
          required: true
          type: string
        - in: "path"
          name: "rid"
          description: "Tne id of the result"
          required: true
          type: number
          format: int
      responses:
        200:
          description: "result have been deleted"
        404:
          description: "project is inexistent/result is inexistent"
  
  /project/result/save/:
    post:
      tags:
        - "resultInformation"
      summary: "Post the base information of project."
      description: "Please make sure each name of field are right."
      operationId: "baseInfo-post"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - in: "header"
          name: "token"
          description: "The token for authorition."
          required: true
          type: string
        - in: "body"
          name: "payload"
          description: "Post the base information fields."
          required: true
          schema:
            required:
              - index
            properties:
              index: 
                type: string
                example: "1 2 4 3 5"
      responses:
        200:
          description: "result saved"
        404:
          description: "project is inexistent/index is empty"
  
  /project/member/edit/:
    post:
      tags:
        - "memberOpeation"
      summary: "Post the base information of project."
      description: "Please make sure each name of field are right."
      operationId: "baseInfo-post"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - in: "header"
          name: "token"
          description: "The token for authorition."
          required: true
          type: string
        - in: "body"
          name: "payload"
          description: "Post the base information fields."
          required: true
          schema:
            $ref: "#/definitions/Member"
      responses:
        200:
          description: "edit member successful"
        404:
          description: "project is inexistent"

    
definitions:
  BaseInformation:
    type: "object"
    required:
      - "project_category_id"
      - "name_cn"
      - "apply_date"
      - "start_date"
      - "end_date"
      - "abstract_cn"
      - "project_code_1"
      - "project_code_2"
    properties:
      project_category_id:
        type: "integer"
      name_cn:
        type: "string"
      apply_date:
        type: "string"
        format: "date"
      start_date:
        type: "string"
        format: "date"
      end_date:
        type: "string"
        format: "date"
      abstract_cn:
        type: "string"
        format: "text"
        example: "I am the abstraction of project..."
      project_code_1:
        type: "string"
        example: "010101"
      project_code_2:
        type: "string"
        example: "020202"
  FundingPlan:
    type: "object"
    required:
      - count
      - device
      - data
      - meeting
      - travel
      - working
      - manage
      - other
      - years
    properties: 
      count:
        type: integer
        example: "10"
      device:
        type: number
        format: float
        example: "1.6"
      data:
        type: number
        format: float
        example: "1.6"
      meeting:
        type: number
        format: float
        example: "1.6"
      travel:
        type: number
        format: float
        example: "1.6"
      working:
        type: number
        format: float
        example: "1.6"
      manage:
        type: number
        format: float
        example: "1.6"
      other:
        type: number
        format: float
        example: "1.6"
      years:
        type: string
        format: json
  Unit:
    type: "object"
    required:
      - work_unit
      - unit_linkman
      - unit_linkman_email
      - unit_linkman_tel
      - academy_linkman
      - academy_linkman_email
      - academy_linkman_tel
    properties:
      work_unit:
        type: string
        example: "华中师范大学"
      unit_linkman:
        type: string
        example: "sry"
      unit_linkman_email:
        type: string
        example: "1@1.com"
      unit_linkman_tel:
        type: string
        example: "123123123"
      academy_linkman:
        type: string
        example: "sry"
      academy_linkman_email:
        type: string
        example: "1@1.com"
      academy_linkman_tel:
        type: string
        example: "123123123"
  Result:
    type: "object"
    required:
      - id
      - name
      - type
      - start
      - end
      - is_key
      - undertakers
      - participants
    properties: 
      id: 
        type: number
        format: int
        example: 1
      name:
        type: string
        example: "成果1"
      type:
        type: number
        format: int
        example: 1
      start:
        type: string
        format: "date"
        example: "2019-10-11"
      end:
        type: string
        format: "date"
        example: "2019-10-11"
      is_key:
        type: boolean
        example: 0/1
      undertakers:
        type: string
        example: "sry, cgh, 123"
      participants:
        type: string
        example: "sry, cgh, 123"        

  Member:
    type: "object"
    required:
      - member_list
    properties:
      member_list:
        type: "object"
        description: "a list of members"
        required:
          - name
          - email
          - tel
          - job
          - unit
        properties: 
          name:
            type: string
            example: "sry"
          email:
            type: string
            example: "1@1.com"
          tel:
            type: string
            example: "1312312312312"
          job:
            type: string
            example: "教授"
          unit:
            type: string
            example: "华中师范大学"
        